[submodule "ecbuild"]
	path = ecbuild
	url = https://github.com/ecmwf/ecbuild.git
[submodule "MAPL"]
	path = MAPL
	url = https://github.com/LiamBindle/MAPL.git
[submodule "GMAO_Shared"]
	path = GMAO_Shared
	url = https://github.com/GEOS-ESM/GMAO_Shared
[submodule "GEOSgcm_GridComp"]
	path = GEOSgcm_GridComp
	url = https://github.com/GEOS-ESM/GEOSgcm_GridComp.git
[submodule "ESMA_cmake"]
	path = ESMA_cmake
	url = https://github.com/LiamBindle/ESMA_cmake.git
